<h1>La solution</h1>
<app-box-with-icon iconSrc="assets/carte.jpeg" color="secondary" position="left">
    <p class="center-text">
        Les capteurs que vous installez remontent en temps réel des 
        données sur la qualité de votre environnement et les données 
        sont consultables librement sur notre carte interactive. 
        <br>Attention toutes fois à installer votre CAPI aussi discrètement 
        que faire ce peu et en extérieur afin de garantir l’intégrité 
        des données.  
    </p>
</app-box-with-icon>
<div id="hr1"></div>
<app-box-with-icon iconSrc="assets/carte-tech.png" color="primary" position="right">
    <p class="center-text">
            Carte interractive : <br>
    </p>
    <ul id="list">
        <li>Une carte accessible facilement et rapidement</li>
        <li>Une interface intuitive</li>
        <li>Plusieurs filtres disponibles</li>
        <li>Un suivi en temps réel </li>
    </ul>
    <a href="">        
        Télécharger la documentation  
    </a>
</app-box-with-icon>
<div id="hr2"></div>

<app-box-with-icon iconSrc="assets/capteurs.jpg" color="secondary" position="left">
    <p class="center-text">
            Boitier de capteurs : <br>
    </p>
    <ul id="list">
        <li>Un boitier issu de composants recyclables <a href="">(en savoir plus)</a> </li>
        <li>Une installation facile et guidée pas à pas </li>
        <li>Un design discret </li>
        <li>Résistant aux intempéries et durable dans le temps </li>
    </ul>
    <a href="">        
        Télécharger la fiche technique  
    </a>
</app-box-with-icon>

    
