<div class="section-right">
  <div class="content-flex-h">
    <img src="assets/map_example.png" class="map-img" />
    <p class="center-text">
      Consultez et participez en temps réel à l’évolution de la qualité de l’environnement dans votre ville.
    </p>
  </div>
  <a href="map">
    <button class="button-map">
      <span>Consulter la carte</span> 
    </button>
  </a>
  <div class="content-flex-h">
    <p class="center-text">
      Voici CAPI ,le nouveau capteur intelligent, facilement déployable et éco-responsable.
      <br>Commandez le votre sans attendre !
    </p>
    <img src="assets/CAPI-2-r.png" class="map-img" />
  </div>
  <a href="#formulaire">
    <button class="button">
      <span>
        Je veux mon CAPI !
      </span> 
    </button>
  </a>
  
</div>
  
  
  
  
  
  
  <!-- <app-section color="secondary">
    <div class="test">
      <img src="assets/clipmap.png" class="main-logo" />
      <h2>Capteur intelligent, conditions idéales garanties</h2>
    </div>
    <app-section>
      <div class="section-content">
        <div class="content-flex-h">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. [Inserer texte “imaginez”]
          </p>
          <img src="assets/map_example.png" class="map-img" />
        </div>
      </div>
    </app-section>
    <app-section>
      <div class="section-content">
        <div class="content-flex-h">
          <img src="assets/map_example.png" class="map-img" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. [Inserer texte “imaginez”]
          </p>
        </div>
      </div>
    </app-section>
  </app-section> -->
  
  
  
  
  <!-- <app-section color="primary">
    <img src="assets/clipmap.png" class="main-logo" />
    <h2>Capteur intelligent, conditions idéales garanties</h2>
  </app-section>
  <img class="rounded-border" src="assets/roundedBorder.svg" /><app-section color="secondary">
    <p class="center-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. [Inserer texte “Et si”]
    </p>
  
    <div class="section-content">
      <div class="content-flex-h">
        <img src="assets/map_example.png" class="map-img" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. [Inserer texte “imaginez”]
        </p>
      </div>
    </div>
  </app-section>
  <app-section>
    <h2>Capteur</h2>
  </app-section> -->
  