<app-section color="primary">
  <img src="../../../assets/clipmap.png" class="main-logo" />
  <h2>Capteur intelligent, conditions idéales garanties</h2>
</app-section>
<app-section color="secondary">
  <p class="center-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. [Inserer texte “Et si”]
  </p>

  <div class="section-content">
    <div class="content-flex-h">
      <img src="../../../assets/map_example.png" class="map-img" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. [Inserer texte “imaginez”]
      </p>
    </div>
  </div>
</app-section>
<app-section>
  <h2>Capteur</h2>
</app-section>
