:host {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-logo {
  height: 15em;
  margin: 2em 0 -2em;
}

.center-text {
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  font-family: Jost;
  font-weight: 400;
}

.content-flex-h {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  font-family: Jost;
  font-weight: 400;
}

.content-flex-h > p {
  min-width: 400px;
  width: min-content;
}

.map-img {
  height: 350px;
}

.rounded-border {
  width: 100%;
  margin-bottom: -6px;
}
