:host {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
}


.content{
  position: relative;
  height: 80vh;
  /* padding: 10em 10em 0em 10em; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img {
  position: absolute;
  top : 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
}

.background {
  position: absolute;
  background-color: #212121;
  top : 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 50%;
  object-fit: cover;

}

.content-center {
  position: absolute;
  text-align: center;
  display: block;
  left: 0;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  font-family: Lexend;
  font-weight: 400;
  font-size: 3vw;
  max-width: 25em;
  text-shadow: 3px 4px 11px rgba(0,0,0,0.72);
  padding: 1em;
}

#presentation {
  scroll-margin-top: 105px;
}

#critic {
  scroll-margin-top: 115px;
}

#technique {
  scroll-margin-top: 115px;
}






