<app-nav-bar></app-nav-bar>
<div class="content">
    <img src="../../../assets/nature-home.jpg"/>
    <div class="background"></div>
    <div class="content-center">
        <h1>Première initiative citoyenne de 
            surveillance de la qualité de 
            l’environnement en temps réel</h1>
        <a href="#presentation">
            <button>
                <span>EN SAVOIR PLUS</span> 
            </button>  
        </a>  
    </div>
</div>
<app-market id="presentation"></app-market>
<app-critic id="critic"></app-critic>
<app-technique id="technique"></app-technique>
<app-formulaire id="formulaire"></app-formulaire>