<h1>Le projet</h1>
<app-box-with-icon iconSrc="assets/critique-1-2.png" color="primary" position="left">
    <p class="center-text">
        Nous portons aujourd’hui un regard bien souvent désintéressé sur la nature. En vérité, nous ne commençons à nous
        en soucier que lorsque nous en avons besoin. Nous en voulons pour preuve le
        <a href="https://www.ladn.eu/actualite/etudiants-impact-environnemental-ecoanxiete/">désengagement</a> de la
        jeunesse sur les questions environnementales.
    </p>
</app-box-with-icon>
<app-box-with-icon iconSrc="assets/critic-2.jpg" color="secondary" position="left">
    <p class="center-text">
        De ce manque d’intérêt découle un manque d’information sur la qualité de notre environnement, les seules études
        environnementales étant bien souvent menées en amont des projets ayant un impact sur celui-ci. CLIMAP permet
        donc de redynamiser cet intérêt en mettant chaque citoyen volontaire au cœur de l’action.
    </p>
</app-box-with-icon>
<app-box-with-icon iconSrc="assets/critic-3.jpg" color="primary" position="right">
    <p class="center-text">
        Quand les décideurs politiques se désintéressent de la question environnementale, c’est à vous d’agir.
        Aujourd’hui, plus de trois enfants sur quatre sont
        <a
            href="https://reseauactionclimat.org/unicef-reseau-action-climat-respire-wwf-alerte-effets-pollution-air-enfants/"
        >
            victimes
        </a>
        de la pollution de l’air en France. Notre initiative vise à établir une carte intéractive et collaborative
        permettant l’analyse des signes vitaux de l’environnement, et ainsi d’en informer le grand public.
    </p>
</app-box-with-icon>
<app-box-with-icon iconSrc="assets/critic-4.jpg" color="secondary" position="right">
    <p class="center-text">
        Des initiatives sont déjà en cours, telles que
        <a href="https://aircitizen.org/"> AirCitizen, </a>
        mais avec nos capteurs CAPI, nous souhaitons faire plus. CAPI est en mesure d’analyser plusieurs données
        simultanément telles que la qualité de l’air, la température, la pollution sonore, ou encore la pollution
        lumineuse.
    </p>
</app-box-with-icon>

<div class="content">
    <img src="assets/critic-5-3.png" />
    <div class="content-center">
        <p class="paragraph-center">
            Que faire face à cela ? Attendre impuissamment face au désintérêt collectif ? Avec CLIMAP, prenons le
            contrôle de l’analyse de notre environnement. Si vous aussi vous souhaitez participer, rejoignez-nous !
        </p>
        <a href="#formulaire">
            <button class="button">
                <span>Rejoindre le mouvement</span>
            </button>
        </a>
    </div>
</div>
